@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #fff;
  background: #060b10;
  font-size: 18px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.page-height {
  height: calc(100vh - 70px);
}

.arrow-container {
  display: flex;
  align-items: center;
}

.arrow-container:hover .line {
  background-image: url("/assets/images/right-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 30px;
  height: 30px;
  transition: 300ms;
}

.line {
  background-image: url("/assets/images/line.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: 300ms;
  width: 50px;
  height: 10px;
}

.list {
  list-style-image: url("/assets/images/double-arrow.svg");
}

.list li {
  padding: 6px;
}

.ant-tabs-tab {
  width: 50%;
  color: #fff !important;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
}

button {
  outline: none;
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
  position: absolute;
  top: 18px;
  left: 15px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: transparent;
}

.menu ul,
li {
  margin: 0;
  padding: 0;
}

.menu ul {
  padding: 25px;
  position: absolute;
  top: 100px;
  width: 230px;
}

.menu ul li {
  list-style: none;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.icon-placeholder {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  flex: 40px 0;
  margin-right: 20px;
}

.text-placeholder {
  border-radius: 5px;
  width: 200px;
  height: 20px;
  flex: 1;
}
